# Data files
data/raw/*.csv
data/processed/*.csv

# Trained models
results/models/*.pt
results/models/*.pkl

# Python
__pycache__/
*.pyc
.env
venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db